<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/juaracoding/sqabatch8/ProjectTestingDemocaShop/src/test/java/com/demoqashop/teststep/LoginTest.java"><classes><class name="com.demoqashop.teststep.LoginTest"><methods><include name="testValidLogin"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/juaracoding/sqabatch8/ProjectTestingDemocaShop/src/test/java/com/demoqashop/teststep/AddtoCartTest.java"><classes><class name="com.demoqashop.teststep.AddtoCartTest"><methods><include name="testAddtoCart"/><include name="testClearCart"/></methods></class></classes></test></suite>